<!doctype html>
<html lang="en-ca">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>Page Not Found - Camosun D2L</title>
		<link rel="stylesheet" type="text/css" href="/d2l/common/vui/valenceui.min.css?v=10.3.0.791-39" />
		<link rel="stylesheet" type="text/css" href="/d2l/common/css/D2L.LP.Web.Desktop.default.css?v=10.3.0.791-39" />
		<style type="text/css">
		/*<![CDATA[*/
			.d2l-font{ font-family:'times new roman', times, serif; font-size:13px; }
		/*]]>*/
		</style>
		<link rel="stylesheet" type="text/css" href="/d2l/lp/navbars/6654/themestyle/5717?navbarHtmlId=d2l_navbar&amp;version=55&amp;isrtl=0&amp;v=10.3.0.791-39" />
		<link rel="stylesheet" type="text/css" href="/d2l/common/css/D2L.LP.Web.Desktop.Print.default.css?v=10.3.0.791-39" media="print" />
		<style type="text/css">
		/*<![CDATA[*/
			.d2l_1_4_18 {background-color:#4f4c4a;}
			.d2l_1_5_344 {table-layout: Inherit;}
			.d2l_1_6_13 {vertical-align:middle;}
			.d2l_1_7_268 {background-image:url('/d2l/img/0/sprites/D2L.LP.Main.png?v=10.3.0.791-39');background-position:-9px -1413px;background-repeat:no-repeat;width:9px;height:18px;}
			.d2l_1_9_376 {background-image:url('/d2l/img/0/sprites/D2L.LP.Main.png?v=10.3.0.791-39');background-position:-10px -1431px;background-repeat:no-repeat;width:10px;height:10px;}
			.d2l_1_10_411 {background-image:url('/d2l/img/0/sprites/D2L.LP.Main.png?v=10.3.0.791-39');background-position:0 -1445px;background-repeat:no-repeat;width:10px;height:10px;}
			.d2l_1_11_908 {max-width:400px;}
			.d2l_1_12_318 {min-width:400px;}
			.d2l_1_14_476 {background-image:url('/d2l/img/0/sprites/D2L.LP.Main.png?v=10.3.0.791-39');background-position:0 -310px;background-repeat:no-repeat;width:20px;height:20px;}
			.d2l_1_15_678 {background-image:url('/d2l/img/0/sprites/D2L.LP.Main.png?v=10.3.0.791-39');background-position:0 -110px;background-repeat:no-repeat;width:20px;height:20px;}
			.d2l_1_16_724 {background-image:url('/d2l/img/0/sprites/D2L.LP.Main.png?v=10.3.0.791-39');background-position:0 -210px;background-repeat:no-repeat;width:20px;height:20px;}
			.d2l_1_17_960 {background-image:url('/d2l/img/0/sprites/D2L.LP.Main.png?v=10.3.0.791-39');background-position:0 -190px;background-repeat:no-repeat;width:20px;height:20px;}
			.d2l_1_18_58 {max-width:350px;}
			.d2l_1_19_686 {min-width:350px;}
			.d2l_1_21_105 {padding:0px 10px;}
			.d2l_1_22_268 {margin:5px;}
			.d2l_1_23_169 {background-image:url('/d2l/img/0/sprites/D2L.LP.Main.png?v=10.3.0.791-39');background-position:0 -1333px;background-repeat:no-repeat;width:16px;height:16px;}
			.d2l_1_24_784 {background-image:url('/d2l/img/0/sprites/D2L.LP.Main.png?v=10.3.0.791-39');background-position:0 -853px;background-repeat:no-repeat;width:16px;height:16px;}
			.d2l_1_25_835 {background-image:url('/d2l/img/0/sprites/D2L.LP.Main.png?v=10.3.0.791-39');background-position:0 -230px;background-repeat:no-repeat;width:20px;height:20px;}
			.d2l_1_26_350 {background-image:url('/d2l/img/0/sprites/D2L.LP.Main.png?v=10.3.0.791-39');background-position:0 -270px;background-repeat:no-repeat;width:20px;height:20px;}
			.d2l_1_27_477 {background-image:url('/d2l/img/0/sprites/D2L.LP.Main.png?v=10.3.0.791-39');background-position:0 -250px;background-repeat:no-repeat;width:20px;height:20px;}
			.d2l_1_28_12 {background-image:url('/d2l/img/0/sprites/D2L.LP.Main.png?v=10.3.0.791-39');background-position:0 -170px;background-repeat:no-repeat;width:20px;height:20px;}
			.d2l_1_30_606 {background-image:url('/d2l/img/0/sprites/D2L.LP.Main.png?v=10.3.0.791-39');background-position:0 -130px;background-repeat:no-repeat;width:20px;height:20px;}
			.d2l_1_31_669 {background-image:url('/d2l/img/0/sprites/D2L.LP.Main.png?v=10.3.0.791-39');background-position:0 -70px;background-repeat:no-repeat;width:20px;height:20px;}
			.d2l_1_32_708 {background-image:url('/d2l/img/0/sprites/D2L.LP.Main.png?v=10.3.0.791-39');background-position:0 -90px;background-repeat:no-repeat;width:20px;height:20px;}
			.d2l_1_33_180 {background-image:url('/d2l/img/0/sprites/D2L.LP.Main.png?v=10.3.0.791-39');background-position:0 -150px;background-repeat:no-repeat;width:20px;height:20px;}
			.d2l_1_35_184 {background-image:url('/d2l/img/0/sprites/D2L.LP.Main.png?v=10.3.0.791-39');background-position:0 -48px;background-repeat:no-repeat;width:22px;height:22px;}
			.d2l_1_37_50 {margin:10px;}
			.d2l_1_38_459 {vertical-align:top;}
			.d2l_1_40_671 {background-position:left top;}
			.d2l_1_41_691 {padding:1em;}
			.d2l_1_42_404 {background-image:url('/d2l/img/0/Auth.SessionExpiry.actAlert.png?v=10.3.0.791-39');}
			.d2l_1_43_954 {background-position:right top;}
			.d2l_1_44_273 {padding-right:75px;}
			.d2l_1_45_252 {min-height:115px;}
			.d2l_1_46_685 {background-image:url('/d2l/img/0/Auth.SessionExpiry.actCheck.png?v=10.3.0.791-39');}
			.d2l_1_47_368 {padding:3.6em;}
			.d2l_1_48_956 {vertical-align:baseline;}
			.d2l_1_49_295 {width:100%;}
			.d2l_1_50_415 {table-layout: Fixed;}
			.d2l_1_51_99 {margin-bottom:10px;}
			.d2l_1_52_24 {background-image:url('/d2l/img/0/Error.Main.infNotFound.png?v=10.3.0.791-39');background-position:0 0;background-repeat:no-repeat;width:50px;height:50px;}
			.d2l_1_53_317 {margin-left:60px;}
		/*]]>*/
		</style>
	</head>
	<body class="d2l-body d2l-font">
		<div class="d2l-background-global"><div></div>
		</div>
		<div class="d2l-background-left"><div><div></div>
			</div>
		</div>
		<div class="d2l-background-right"><div><div></div>
			</div>
		</div>
		<a href="#d2l_1_3_992" class="d2l-skipnav" id="d2l_skipnav">skip to main content</a>
		<div class="d2l-minibar-placeholder d2l-minibar-placeholder-fixed" id="d2l_minibar_placeholder">
			<div class="d2l-minibar d2l-min-width d2l-minibar-light d2l_1_4_18" id="d2l_minibar">
				<div class="d2l-max-width">
					<div class="d2l-minibar-padding">
						<div class="d2l-box-layout d2l_1_5_344">
							<div class="d2l-box d2l-box-h d2l_1_6_13">
								<a class="d2l-minibar-home vui-link d2l-link" href="/d2l/lp/ouHome/defaultHome.d2l"><img class="" src="/d2l/lp/navbars/minibar/icon/view/1935431?v=10.3.0.791-39" alt="" /><span class="d2l-minibar-home-text">My Home</span></a><span class="d2l-minibar-breadcrumb"><span class="d2l_1_7_268"></span><span class="d2l-menuflyout-spacer">&nbsp;</span></span><div class="d2l-menuflyout d2l-menuflyout-closed d2l-menuflyout-light d2l-left" id="d2l_1_8_303">
									<a class="d2l-menuflyout-opener d2l-clickable" onclick="return false;">
										<span class="d2l-menuflyout-text d2l-menuflyout-emphasis">Select a course...</span><span class="d2l-menuflyout-arrow d2l-menuflyout-arrow-open d2l_1_10_411"></span><span class="d2l-menuflyout-arrow d2l_1_9_376 d2l-menuflyout-arrow-closed"></span>
										<div class="d2l-clear"></div>
									</a>
									<div class="d2l-menuflyout-contents d2l_1_11_908 d2l_1_12_318" id="d2l_1_13_442">
										<div class="d2l-menuflyout-group-container">
											<div id="courseSelectorId" class="d2l-placeholder d2l-placeholder-live">
												<div class="d2l-loading"><div class="d2l-textblock d2l-offscreen">Loading...</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="d2l-box d2l-box-h d2l-minibar-right d2l_1_6_13">
								<div class="d2l-minibar-activity">
									<div class="d2l-menuflyout d2l-menuflyout-closed d2l-menuflyout-light d2l-left" id="d2l_1_0_380">
										<a class="d2l-menuflyout-opener d2l-clickable" title="Message alerts - You have new alerts" onclick="return false;">
											<span class="d2l-menuflyout-text d2l-offscreen">Message alerts - You have new alerts</span><div class="d2l-minibar-activity-buckethandle alert_bucket_Messages">
												<img src="/d2l/img/lp/pixel.gif" alt="" class="Alert d2l-hidden d2l_1_14_476" /><img src="/d2l/img/lp/pixel.gif" alt="" class="NewAlert d2l_1_15_678" /><img src="/d2l/img/lp/pixel.gif" alt="" class="OpenAlert d2l-hidden d2l_1_16_724" /><img src="/d2l/img/lp/pixel.gif" alt="" class="NewOpenAlert d2l-hidden d2l_1_17_960" /><span class="d2l-menuflyout-spacer">&nbsp;</span></div>
											<div class="d2l-clear"></div>
										</a>
										<div class="d2l-menuflyout-contents d2l-menuflyout-contents-left d2l_1_18_58 d2l_1_19_686" id="d2l_1_20_428">
											<div class="d2l-menuflyout-group-container">
												<div class="d2l_1_21_105">
													<div>
														<div>
															<a class="d2l-text-imagelink vui-outline d2l-left d2l_1_22_268" onclick="D2L.O(&quot;__g1&quot;,0)();return false;">
																<img class="d2l-text-imagelink-img d2l_1_23_169" src="/d2l/img/lp/pixel.gif" alt="" /><span class="d2l-text-imagelink-text">Go to Pager</span>
															</a>
															<a class="d2l-text-imagelink vui-outline d2l-right d2l_1_22_268" href="/d2l/lms/email/frame.d2l?ou=6654">
																<img class="d2l-text-imagelink-img d2l_1_24_784" src="/d2l/img/lp/pixel.gif" alt="" /><span class="d2l-text-imagelink-text">Go to Email</span>
															</a>
															<div class="d2l-clear"></div>
														</div>
														<div id="AB_DL_PH_Messages" class="d2l-placeholder d2l-placeholder-live">
															<div class="d2l-loading"><div class="d2l-textblock d2l-offscreen">Loading...</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="d2l-minibar-separator"></div><div class="d2l-menuflyout d2l-menuflyout-closed d2l-menuflyout-light d2l-left" id="d2l_1_1_533">
										<a class="d2l-menuflyout-opener d2l-clickable" title="Update alerts - You have new alerts" onclick="return false;">
											<span class="d2l-menuflyout-text d2l-offscreen">Update alerts - You have new alerts</span><div class="d2l-minibar-activity-buckethandle alert_bucket_Grades">
												<img src="/d2l/img/lp/pixel.gif" alt="" class="Alert d2l-hidden d2l_1_25_835" /><img src="/d2l/img/lp/pixel.gif" alt="" class="NewAlert d2l_1_26_350" /><img src="/d2l/img/lp/pixel.gif" alt="" class="OpenAlert d2l-hidden d2l_1_27_477" /><img src="/d2l/img/lp/pixel.gif" alt="" class="NewOpenAlert d2l-hidden d2l_1_28_12" /><span class="d2l-menuflyout-spacer">&nbsp;</span></div>
											<div class="d2l-clear"></div>
										</a>
										<div class="d2l-menuflyout-contents d2l-menuflyout-contents-left d2l_1_18_58 d2l_1_19_686" id="d2l_1_29_394">
											<div class="d2l-menuflyout-group-container">
												<div class="d2l_1_21_105">
													<div>
														<div id="AB_DL_PH_Grades" class="d2l-placeholder d2l-placeholder-live">
															<div class="d2l-loading"><div class="d2l-textblock d2l-offscreen">Loading...</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="d2l-minibar-separator"></div><div class="d2l-menuflyout d2l-menuflyout-closed d2l-menuflyout-light d2l-left" id="d2l_1_2_20">
										<a class="d2l-menuflyout-opener d2l-clickable" title="Subscription alerts - You have new alerts" onclick="return false;">
											<span class="d2l-menuflyout-text d2l-offscreen">Subscription alerts - You have new alerts</span><div class="d2l-minibar-activity-buckethandle alert_bucket_Alerts">
												<img src="/d2l/img/lp/pixel.gif" alt="" class="Alert d2l-hidden d2l_1_30_606" /><img src="/d2l/img/lp/pixel.gif" alt="" class="NewAlert d2l_1_31_669" /><img src="/d2l/img/lp/pixel.gif" alt="" class="OpenAlert d2l-hidden d2l_1_32_708" /><img src="/d2l/img/lp/pixel.gif" alt="" class="NewOpenAlert d2l-hidden d2l_1_33_180" /><span class="d2l-menuflyout-spacer">&nbsp;</span></div>
											<div class="d2l-clear"></div>
										</a>
										<div class="d2l-menuflyout-contents d2l-menuflyout-contents-left d2l_1_18_58 d2l_1_19_686" id="d2l_1_34_507">
											<div class="d2l-menuflyout-group-container">
												<div class="d2l_1_21_105">
													<div>
														<div id="AB_DL_PH_Alerts" class="d2l-placeholder d2l-placeholder-live">
															<div class="d2l-loading"><div class="d2l-textblock d2l-offscreen">Loading...</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div><div class="d2l-menuflyout d2l-menuflyout-closed d2l-menuflyout-light">
									<a class="d2l-menuflyout-opener d2l-clickable" onclick="return false;">
										<img class="d2l-image d2l-menuflyout-icon d2l_1_35_184" src="/d2l/img/lp/pixel.gif" alt="" />
										<span class="d2l-menuflyout-text">Pavel Bolokhov</span><span class="d2l-menuflyout-arrow d2l-menuflyout-arrow-open d2l_1_10_411"></span><span class="d2l-menuflyout-arrow d2l_1_9_376 d2l-menuflyout-arrow-closed"></span>
										<div class="d2l-clear"></div>
									</a>
									<div class="d2l-menuflyout-contents d2l-menuflyout-contents-left" id="d2l_1_36_938">
										<div class="d2l-menuflyout-group-container">
											<div>
												<ul class="d2l-list">
													<li>
														<ul style="list-style:none;margin:10px;padding:0;">
															<li>
																<span style="white-space:nowrap;"><a class="vui-link vui-outline d2l-link" href="/d2l/lp/profile/profile_edit.d2l?ou=6654" onclick="D2L.O(&quot;__g1&quot;,1)();">Profile</a>
																</span></li>
															<li>
																<span style="white-space:nowrap;"><a class="vui-link vui-outline d2l-link" href="/d2l/Notifications/Settings?ou=6654" onclick="D2L.O(&quot;__g1&quot;,2)();">Notifications</a>
																</span></li>
															<li>
																<span style="white-space:nowrap;"><a class="vui-link vui-outline d2l-link" href="/d2l/lp/preferences/preferences_main/preferences_main.d2l?ou=6654" onclick="D2L.O(&quot;__g1&quot;,3)();">Account Settings</a>
																</span></li>
														</ul>
														<hr class="d2l-minibar-menu-separator" /></li>
													<li>
														<ul style="list-style:none;margin:10px;padding:0;">
															<li>
																<span style="white-space:nowrap;"><a class="vui-link vui-outline d2l-link" href="/d2l/le/userprogress/56036/6654/Summary?searchString=&amp;sortDirection=0&amp;sortField=LastName">Progress</a>
																</span></li>
														</ul>
														<hr class="d2l-minibar-menu-separator" /></li>
													<li>
														<span style="white-space:nowrap;"><a class="vui-link vui-outline d2l-link d2l_1_37_50" href="javascript:void(0);" onclick="D2L.O(&quot;__g1&quot;,4)();return false;">Log Out</a>
														</span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="d2l-clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="d2l_navbar" class="d2l-navbar d2l-font-inverse d2l-min-width">
			<h2 class="d2l-offscreen">Navigation</h2>
			<div class="d2l-navbar-container d_nb_cFull">
				<div class="d2l-max-width">
					<div class="d2l-navbar-container d_nb_cGlobal">
						<div class="d2l-box-layout d2l_1_5_344">
							<div class="d2l-box d2l-box-v d2l_1_38_459">
								<div class="d2l-box-layout d2l_1_5_344">
									<div class="d2l-box d2l-box-h d2l_1_38_459">
									</div>
									<div class="d2l-box d2l-box-h d2l_1_38_459">
									</div>
								</div>
							</div>
							<div class="d2l-box d2l-box-v d2l_1_38_459">
								<div class="d2l-navbar-container d_nb_cLinks">
									<div class="d2l-box-layout d2l_1_5_344">
										<div class="d2l-box d2l-box-h AreaBoxBottomLeft d2l_1_38_459">
											<div class="d2l-navbar-area d_nb_pBottomLeft">
												<div class="d_nb_pd">
													<div class="d_nb_i">
														<ul class="d2l-navbar-area-list">
															<li class="d2l-navbar-area-list-item-last">
																<div class="d2l-navbar-item">
																	<span class="d2l-navbar-text">
																		<span>Camosun D2L</span></span>
																</div>
																<span class="d2l-navbar-sep"></span>
															</li>
														</ul>
													</div>
													<div class="d2l-clear"></div>
												</div>
											</div>
										</div>
										<div class="d2l-box d2l-box-h AreaBoxBottomRight d2l_1_38_459">
											<div class="d2l-navbar-area d_nb_pBottomRight">
												<div class="d_nb_pd">
													<div class="d_nb_i">
														<ul class="d2l-navbar-area-list">
															<li>
																<div class="d2l-navbar-item">
																	<a class="d2l-navbar-link" href="https://online.camosun.ca/d2l/le/content/6654/Home?itemIdentifier=TOC"><span>D2L Student Documentation</span></a></div>
																<span class="d2l-navbar-sep"></span>
															</li>
															<li class="d2l-navbar-area-list-item-last">
																<div class="d2l-navbar-item d2l-navbar-group">
																	<div class="d2l-menuflyout d2l-menuflyout-closed d2l-menuflyout-dark">
																		<a class="d2l-menuflyout-opener d2l-clickable" onclick="return false;">
																			<span class="d2l-menuflyout-text">My Tools</span><span class="d2l-menuflyout-arrow d2l_1_10_411"></span>
																			<div class="d2l-clear"></div>
																		</a>
																		<div class="d2l-menuflyout-contents" id="d2l_1_39_468">
																			<div class="d2l-menuflyout-group-container">
																				<ul class="d2l-navbar-group-inner">
																					<li>
																						<a class="vui-link d2l-link vui-outline" href="/d2l/le/calendar/6654"><span>Calendar</span></a></li>
																					<li>
																						<a class="vui-link d2l-link vui-outline" href="/d2l/lms/email/frame.d2l?ou=6654"><span>Email</span></a></li>
																					<li>
																						<a class="vui-link d2l-link vui-outline" href="/d2l/lms/locker/locker.d2l?ou=6654"><span>Locker</span></a></li>
																					<li>
																						<a class="vui-link d2l-link vui-outline" href="/d2l/le/content/6654/Home"><span>Content</span></a></li>
																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
																<span class="d2l-navbar-sep"></span>
															</li>
														</ul>
													</div>
													<div class="d2l-clear"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="d2l-clear"></div>
								</div>
							</div>
						</div>
						<div class="d2l-clear"></div>
					</div>
				</div>
				<div class="d2l-clear"></div>
			</div>
		</div>
		<script type="text/javascript">
			
(function(){
var hpn=function(){
if(window == window.parent) {return false;}
var win = window.parent;
try {while(true) {
if(win.document === undefined) {return false;}
var n= win.document.getElementById('d2l_navbar');
var m = win.document.getElementById('d2l_minibar');
if(n !== null || m !== null) {return true;}
if(win == win.parent) {return false;}
win = win.parent;
}} catch(e) {}
return false;};
if(!hpn()) {return;}
var rm=function(n) {if(n&&n.parentNode){n.parentNode.removeChild(n);}};
var d=document;
rm(d.getElementById('d2l_navbar'));
rm(d.getElementById('d2l_minibar'));
rm(d.getElementById('d2l_minibar_placeholder'));
rm(d.getElementById('d2l_skipnav'));
})();
</script>
		<span class="d2l-fragment"><a name="d2l_1_3_992"></a></span>
		<div class="d2l-page-message-container"><div class="d2l-page-message" id="d2l_sessionExpiryWarning"><div style="display:none;" id="d2l_sessionExpiryAlert" role="alert"><div class="d2l-container-icon d2l_1_40_671 d2l_1_41_691">
			<div class="d2l-container-icon-inner d2l_1_42_404 d2l_1_43_954 d2l_1_44_273 d2l_1_45_252">
				<h2 class="d2l-heading vui-heading-2">Are You Still There?</h2>
				<div class="d2l-textblock">Your session expires after 180 minutes of inactivity, which protects your information in case you&#39;ve left your device without logging out.<br/>
<br/>
<strong>Hit a key or click anywhere to stay logged in.</strong></div>
			</div>
		</div>
		</div><div style="display:none;" id="d2l_sessionExpiryCheck" role="alert"><div class="d2l-container-icon d2l_1_40_671 d2l_1_41_691">
			<div class="d2l-container-icon-inner d2l_1_46_685 d2l_1_43_954 d2l_1_44_273 d2l_1_45_252">
				<div class="d2l_1_47_368">
					<h2 class="d2l-heading vui-heading-2">Oh, There You Are!</h2>
				</div>
			</div>
		</div>
		</div></div>
		</div>
		<div class="d2l-page-bg">
			<div>
			</div>
		</div>
		<div class="d2l-page-main d2l-min-width d2l-max-width">
			<div class="d2l-page-main-padding">
				<div class="d2l-page-header">
					<div class="d2l-box-layout d2l_1_5_344">
						<div class="d2l-box d2l-box-v d2l_1_48_956">
							<div class="d2l-box-layout d2l_1_5_344">
								<div class="d2l-box d2l-box-h d2l_1_49_295 d2l_1_38_459">
									<div class="d2l-page-title-c"><div class="d2l-box-layout d2l_1_50_415">
										<div class="d2l-box d2l-box-h d2l_1_49_295 d2l_1_38_459">
											<h1 class="d2l-page-title d2l-heading vui-heading-1">Page Not Found</h1>
											<div class="d2l-clear"></div>
										</div>
									</div>
									</div></div>
							</div>
						</div>
					</div>
				</div>
				<div class="d2l-messagearea d2l_1_51_99" id="d2l_messagearea"></div><img class="d2l-image d2l-left d2l_1_52_24" src="/d2l/img/lp/pixel.gif" alt="Page Not Found" />
				<div class="d2l_1_53_317">
					<h2 class="d2l-heading vui-heading-2">Error: Page Not Found</h2>
					<h2 class="d2l-heading vui-heading-3">The page you are looking for cannot be found.</h2>
					<div class="d2l-textblock">If you believe you reached this page in error, and the resource you are trying to access should exist, contact technical support.</div>
				</div>
				<div class="d2l-clear"></div>
			</div>
		</div>
<script type="text/javascript" src="/d2l/common/jquery/jquery-1.10.2-ui-1.10.3.min.js?v=10.3.0.791-39"></script>
		<script type="text/javascript" src="/d2l/common/vui/valenceui.min.js?v=10.3.0.791-39"></script>
		<script type="text/javascript" src="/d2l/common/js/D2L.LP.Web.Desktop.default.js?v=10.3.0.791-39"></script>
		<script type="text/javascript">
		//<![CDATA[
			D2L.LP.Web.UI.Events.OnInit.AddListener( function() {
D2L.O("__g1",5)();
D2L.O("__g1",6)();
D2L.O("__g1",7)();
D2L.O("__g1",8)();
D2L.O("__g1",9)();
D2L.O("__g1",10)();
D2L.O("__g1",11)();
D2L.O("__g1",12)();
D2L.O("__g1",13)();
D2L.O("__g1",14)();
D2L.O("__g1",15)();
} );

			D2L.OR={
"d2l_1_8_303":{"MenuFlyout.OpenFirstFunction":"{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Html.PartialRendering.PartialRender\",\"P\":[{\"_type\":\"id\",\"Value\":\"courseSelectorId\"},{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Rpc.ConnectPartial\",\"P\":[{\"_type\":\"id\",\"Value\":\"courseSelectorId\"},\"GET\",{\"_type\":\"url\",\"Url\":\"\/d2l\/lp\/courseSelector\/6654\/InitPartial\"},{\"_type\":\"D2L.LP.Util.Dictionary\"},{\"_type\":\"D2L.LP.Web.UI.Rpc.RpcOptions\",\"keepAlive\":true}],\"D\":true},0],\"D\":true}"}
,
"courseSelectorId":{"0":"{\"_type\":\"D2L.LP.Web.UI.Html.PartialRendering.PartialHtmlRenderContext\",\"HeadingLevel\":2,\"ValidClassNames\":[],\"Scope\":\"\"}"}
,
"d2l_1_0_380":{"MenuFlyout.OpenFunction":"{\"_type\":\"pipe\",\"P\":[{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Html.JavaScript.If\",\"P\":[{\"_type\":\"call\",\"N\":\"D2L.LP.Web.UI.Html.JavaScript.CompareBoolean\",\"P\":[1,{\"_type\":\"call\",\"N\":\"D2L.VG\",\"P\":[\"ab_status_Messages\"]},true]},{\"_type\":\"pipe\",\"P\":[{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Html.PartialRendering.PartialRender\",\"P\":[{\"_type\":\"id\",\"Value\":\"AB_DL_PH_Messages\"},{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Rpc.ConnectPartial\",\"P\":[{\"_type\":\"id\",\"Value\":\"AB_DL_PH_Messages\"},\"GET\",{\"_type\":\"call\",\"N\":\"D2L.LP.Web.Mvc.RouteLocation.Create\",\"P\":[\"\/d2l\/MiniBar\/{orgUnitId}\/ActivityFeed\/{action}\",{\"_type\":\"D2L.LP.Util.Dictionary\",\"Category\":2},{\"_type\":\"D2L.LP.Util.Dictionary\",\"action\":\"GetAlerts\",\"orgUnitId\":6654}]},{\"_type\":\"D2L.LP.Util.Dictionary\"},{\"_type\":\"D2L.LP.Web.UI.Rpc.RpcOptions\",\"keepAlive\":true}],\"D\":true},0],\"D\":true}]}],\"D\":true},{\"_type\":\"func\",\"N\":\"D2L.VS\",\"P\":[\"ab_status_Messages\",false]},{\"_type\":\"func\",\"N\":\"D2L.LP.ActivityBar.OpenBucket\",\"P\":[\"alert_bucket_Messages\"]}]}",
"MenuFlyout.CloseFunction":"{\"_type\":\"func\",\"N\":\"D2L.LP.ActivityBar.CloseBucket\",\"P\":[\"alert_bucket_Messages\"]}"}
,
"alert_bucket_Messages":{"aria-message":"\"You have new Messages\"",
"title":"\"Message alerts\"",
"new-alert-title":"\"Message alerts - You have new alerts\"",
"flyout-id":"{\"_type\":\"id\",\"Value\":\"d2l_1_0_380\"}"}
,
"__g1":{"0":"{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Html.Dom.OpenWindow\",\"P\":[\"D2L.LE.Pager\",{\"_type\":\"url\",\"Url\":\"\/d2l\/p\/le\/pager\/6654\"},650,730,false,false]}",
"1":"{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Html.ReturnPoints.Set\",\"P\":[\"D2L.UXP.Profile.6654.56036\"]}",
"2":"{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Html.ReturnPoints.Set\",\"P\":[\"D2L.LP.Notification.Settings.6654\"]}",
"3":"{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Html.ReturnPoints.Set\",\"P\":[\"D2L.UXP.Preferences.6654\"]}",
"4":"{\"_type\":\"func\",\"N\":\"D2L.PT.Auth.Logout\",\"P\":[\"\/d2l\/logout\"]}",
"5":"{\"_type\":\"func\",\"N\":\"D2L.VS\",\"P\":[\"ab_status_Messages\",true]}",
"6":"{\"_type\":\"func\",\"N\":\"D2L.VS\",\"P\":[\"ab_status_Grades\",true]}",
"7":"{\"_type\":\"func\",\"N\":\"D2L.VS\",\"P\":[\"ab_status_Alerts\",true]}",
"8":"{\"_type\":\"func\",\"N\":\"D2L.PT.Auth.SessionTimeout.Init\",\"P\":[\"56036\",180,5,{\"_type\":\"id\",\"Value\":\"d2l_sessionExpiryWarning\"},\"d2l_sessionExpiryAlert\",\"d2l_sessionExpiryCheck\",{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Rpc.ConnectObject\",\"P\":[\"POST\",{\"_type\":\"url\",\"Url\":\"\/d2l\/lp\/auth\/session\/extend\"}],\"D\":true},{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Desktop.MasterPages.Dialog.OpenHelper\",\"P\":[{\"_type\":\"call\",\"N\":\"D2L.LP.Web.UI.Html.Dom.GetActiveElement\"},{\"_type\":\"url\",\"Url\":\"\/d2l\/lp\/auth\/session\/Expired?isUsernamePasswordLogin=1&isLogout=0\"}],\"D\":true},{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Desktop.MasterPages.Dialog.OpenHelper\",\"P\":[{\"_type\":\"call\",\"N\":\"D2L.LP.Web.UI.Html.Dom.GetActiveElement\"},{\"_type\":\"url\",\"Url\":\"\/d2l\/lp\/auth\/session\/Expired?isUsernamePasswordLogin=1&isLogout=1\"}],\"D\":true},{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Desktop.MasterPages.Dialog.InlineDialog\",\"P\":[null,{\"_type\":\"id\",\"Value\":\"d2l_1_54_205\"},\"Warning\",\"New User Session\",\"The current user session has changed, so the links and content on this page may not behave as expected.\",\"OK\",\"\",\"Close this Dialog\",\"d2l-dialog-inline-body-warning\",null,null,null,true,false,false],\"D\":true},{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Desktop.MasterPages.Dialog.Inline.Abort\",\"P\":[{\"_type\":\"id\",\"Value\":\"d2l_1_54_205\"}]}]}",
"9":"{\"_type\":\"func\",\"N\":\"D2LMathML.DesktopInit\",\"P\":[\"\/d2l\/common\/mathjax\/2.1\/MathJax.js?config=MML_HTMLorMML&v=10.3.0.791-39\",\"\/d2l\/common\/mathjax\/2.1\/MathJax.js?config=TeX-AMS-MML_HTMLorMML&v=10.3.0.791-39\"]}",
"10":"{\"_type\":\"func\",\"N\":\"D2L.LP.Web.Authentication.Xsrf.Init\",\"P\":[\"d2l_referrer\",\"CsVChPApBT0xc6FXjUNFIhxxL1CgvCcV\",-408935333]}",
"11":"{\"_type\":\"func\",\"N\":\"D2L.LP.ActivityBar.Init\",\"P\":[{\"_type\":\"url\",\"Url\":\"\/d2l\/activityFeed\/checkForNewAlerts\"},30,\"alert_bucket_{0}\",\"ab_status_{0}\"]}",
"12":"{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Common.Controls.MessageArea.Init\",\"P\":[\"d2l_messagearea\",{\"_type\":\"url\",\"Url\":\"\/d2l\/lp\/validation\/errors\"}]}",
"13":"{\"_type\":\"func\",\"N\":\"D2L.LP.Globalization.Locale.Init\",\"P\":[0,{\"_type\":\"anon\",\"DecimalSeparator\":\".\",\"GroupSeparator\":\",\",\"NumberNegativePattern\":1,\"PercentPositivePattern\":0,\"PercentNegativePattern\":0,\"PercentSymbol\":\"%\",\"NegativeSign\":\"-\",\"NativeDigits\":[\"0\",\"1\",\"2\",\"3\",\"4\",\"5\",\"6\",\"7\",\"8\",\"9\"],\"UseNativeDigits\":false,\"GroupSizes\":[3],\"IntegerRegex\":\"^([\\\\(-]*(([01234567890123456789]?[01234567890123456789]?([01234567890123456789](,[01234567890123456789][01234567890123456789][01234567890123456789])*)?))[\\\\)-]*)$|^([\\\\(-]*[01234567890123456789]+[\\\\)-]*)$\",\"DecimalRegex\":\"^([\\\\(-]*(([01234567890123456789]?[01234567890123456789]?([01234567890123456789](,[01234567890123456789][01234567890123456789][01234567890123456789])*)))(\\\\.[01234567890123456789]+)?[\\\\)-]*)$|^([\\\\(-]*[01234567890123456789]*\\\\.?[01234567890123456789]+[\\\\)-]*)$\"},{\"_type\":\"anon\",\"InputDateFormat\":\"M\/d\/yyyy\",\"Is24HourClock\":false,\"NativeDigits\":[\"0\",\"1\",\"2\",\"3\",\"4\",\"5\",\"6\",\"7\",\"8\",\"9\"],\"UseNativeDigits\":false,\"TimeFormat\":\"h:mm tt\",\"AmDesignator\":\"AM\",\"PmDesignator\":\"PM\",\"ShortMonthNames\":[\"Jan\",\"Feb\",\"Mar\",\"Apr\",\"May\",\"Jun\",\"Jul\",\"Aug\",\"Sep\",\"Oct\",\"Nov\",\"Dec\",\"\"],\"ShortDayOfWeekNames\":[\"Sun\",\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\",\"Sat\"]},{\"_type\":\"anon\",\"TextDirection\":1},{\"_type\":\"anon\",\"Culture\":\"en-ca\"},{\"_type\":\"anon\",\"JustNow\":\"just now\",\"OneMinuteAgo\":\"1 minute ago\",\"TwoMinutesAgo\":\"2 minutes ago\",\"MinutesAgoMany\":\"[0] minutes ago\",\"OneHourAgo\":\"1 hour ago\",\"TwoHoursAgo\":\"2 hours ago\",\"ManyHoursAgo\":\"[0] hours ago\",\"YesterdayTime\":\"yesterday at [0]\",\"DayOfWeekTime\":\"[0] at [1]\",\"MonthDayTime\":\"[0] at [1]\",\"Now\":{\"_type\":\"D2L.LocalDateTime\",\"Year\":2015,\"Month\":3,\"Day\":9,\"Hour\":18,\"Minute\":19,\"Second\":24}}]}",
"14":"{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Rpc.Initialize\",\"P\":[{\"_type\":\"url\",\"Url\":\"\/d2l\/login?target=%2fd2l%2ferror%2f404&sessionExpired=1\"},\"Error: unable to complete your request.\",{\"_type\":\"D2L.LP.Util.Dictionary\"},{\"_type\":\"D2L.LP.Util.Dictionary\",\"flash\":{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.FlashMessages.RpcReceivePayloadProvider\"},\"session\":{\"_type\":\"func\",\"N\":\"D2L.PT.Auth.SessionTimeout.RpcReceivePayloadProvider\"},\"messageArea\":{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Common.Controls.MessageArea.RpcReceivePayloadProvider\"},\"OR\":{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.ObjectRepository.RpcReceivePayloadProvider\"},\"JS\":{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Html.JavaScript.RpcReceiveJsPayloadProvider\"},\"CSS\":{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Html.JavaScript.RpcReceiveCssPayloadProvider\"},\"ariaMessages\":{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Html.Aria.RpcReceivePayloadProvider\"}}]}",
"15":"{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Desktop.Controls.InlineHelp.Init\",\"P\":[{\"_type\":\"url\",\"Url\":\"\/d2l\/lp\/inlineHelp\/6654\/help\"}]}"}
,
"AB_DL_PH_Messages":{"0":"{\"_type\":\"D2L.LP.Web.UI.Html.PartialRendering.PartialHtmlRenderContext\",\"HeadingLevel\":2,\"ValidClassNames\":[],\"Scope\":\"\"}"}
,
"d2l_1_1_533":{"MenuFlyout.OpenFunction":"{\"_type\":\"pipe\",\"P\":[{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Html.JavaScript.If\",\"P\":[{\"_type\":\"call\",\"N\":\"D2L.LP.Web.UI.Html.JavaScript.CompareBoolean\",\"P\":[1,{\"_type\":\"call\",\"N\":\"D2L.VG\",\"P\":[\"ab_status_Grades\"]},true]},{\"_type\":\"pipe\",\"P\":[{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Html.PartialRendering.PartialRender\",\"P\":[{\"_type\":\"id\",\"Value\":\"AB_DL_PH_Grades\"},{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Rpc.ConnectPartial\",\"P\":[{\"_type\":\"id\",\"Value\":\"AB_DL_PH_Grades\"},\"GET\",{\"_type\":\"call\",\"N\":\"D2L.LP.Web.Mvc.RouteLocation.Create\",\"P\":[\"\/d2l\/MiniBar\/{orgUnitId}\/ActivityFeed\/{action}\",{\"_type\":\"D2L.LP.Util.Dictionary\",\"Category\":1},{\"_type\":\"D2L.LP.Util.Dictionary\",\"action\":\"GetAlerts\",\"orgUnitId\":6654}]},{\"_type\":\"D2L.LP.Util.Dictionary\"},{\"_type\":\"D2L.LP.Web.UI.Rpc.RpcOptions\",\"keepAlive\":true}],\"D\":true},0],\"D\":true}]}],\"D\":true},{\"_type\":\"func\",\"N\":\"D2L.VS\",\"P\":[\"ab_status_Grades\",false]},{\"_type\":\"func\",\"N\":\"D2L.LP.ActivityBar.OpenBucket\",\"P\":[\"alert_bucket_Grades\"]}]}",
"MenuFlyout.CloseFunction":"{\"_type\":\"func\",\"N\":\"D2L.LP.ActivityBar.CloseBucket\",\"P\":[\"alert_bucket_Grades\"]}"}
,
"alert_bucket_Grades":{"aria-message":"\"You have new Updates\"",
"title":"\"Update alerts\"",
"new-alert-title":"\"Update alerts - You have new alerts\"",
"flyout-id":"{\"_type\":\"id\",\"Value\":\"d2l_1_1_533\"}"}
,
"AB_DL_PH_Grades":{"0":"{\"_type\":\"D2L.LP.Web.UI.Html.PartialRendering.PartialHtmlRenderContext\",\"HeadingLevel\":2,\"ValidClassNames\":[],\"Scope\":\"\"}"}
,
"d2l_1_2_20":{"MenuFlyout.OpenFunction":"{\"_type\":\"pipe\",\"P\":[{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Html.JavaScript.If\",\"P\":[{\"_type\":\"call\",\"N\":\"D2L.LP.Web.UI.Html.JavaScript.CompareBoolean\",\"P\":[1,{\"_type\":\"call\",\"N\":\"D2L.VG\",\"P\":[\"ab_status_Alerts\"]},true]},{\"_type\":\"pipe\",\"P\":[{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Html.PartialRendering.PartialRender\",\"P\":[{\"_type\":\"id\",\"Value\":\"AB_DL_PH_Alerts\"},{\"_type\":\"func\",\"N\":\"D2L.LP.Web.UI.Rpc.ConnectPartial\",\"P\":[{\"_type\":\"id\",\"Value\":\"AB_DL_PH_Alerts\"},\"GET\",{\"_type\":\"call\",\"N\":\"D2L.LP.Web.Mvc.RouteLocation.Create\",\"P\":[\"\/d2l\/MiniBar\/{orgUnitId}\/ActivityFeed\/{action}\",{\"_type\":\"D2L.LP.Util.Dictionary\",\"Category\":0},{\"_type\":\"D2L.LP.Util.Dictionary\",\"action\":\"GetAlerts\",\"orgUnitId\":6654}]},{\"_type\":\"D2L.LP.Util.Dictionary\"},{\"_type\":\"D2L.LP.Web.UI.Rpc.RpcOptions\",\"keepAlive\":true}],\"D\":true},0],\"D\":true}]}],\"D\":true},{\"_type\":\"func\",\"N\":\"D2L.VS\",\"P\":[\"ab_status_Alerts\",false]},{\"_type\":\"func\",\"N\":\"D2L.LP.ActivityBar.OpenBucket\",\"P\":[\"alert_bucket_Alerts\"]}]}",
"MenuFlyout.CloseFunction":"{\"_type\":\"func\",\"N\":\"D2L.LP.ActivityBar.CloseBucket\",\"P\":[\"alert_bucket_Alerts\"]}"}
,
"alert_bucket_Alerts":{"aria-message":"\"You have new Subscriptions\"",
"title":"\"Subscription alerts\"",
"new-alert-title":"\"Subscription alerts - You have new alerts\"",
"flyout-id":"{\"_type\":\"id\",\"Value\":\"d2l_1_2_20\"}"}
,
"AB_DL_PH_Alerts":{"0":"{\"_type\":\"D2L.LP.Web.UI.Html.PartialRendering.PartialHtmlRenderContext\",\"HeadingLevel\":2,\"ValidClassNames\":[],\"Scope\":\"\"}"}

};

		//]]>
		</script>
	</body>
</html>